@model EconoMe.Models.RegisterTransaccionesModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SpecificStyles = "~/Content/Custom_CSS/css-movements";
}

<div class="main__content limit-width">
    <nav class="main__nav">
        <a href="" class="nav__link">Añadir movimientos</a>
    </nav>

    <div class="form-wrapper">
        <h1 class="title">Añade un movimiento</h1>
        @using (Html.BeginForm("RegisterTransaction", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-top-side">
                <div class='input-wrapper'>
                    <label for='TipoTransaccion' class='label-select'>Tipo</label>
                    @Html.DropDownListFor(model => model.TipoTransaccionId, new SelectList(new List<SelectListItem>
                            {
                        new SelectListItem { Text = "Ingreso", Value = "1" },
                        new SelectListItem { Text = "Gasto", Value = "2" }
                    }, "Value", "Text"), "Seleccione Tipo", new { @class = "input shadow-lightgray" })
                </div>
                <div class='input-wrapper'>
                    <label for='CategoriaId' class='label-select'>Categoría</label>
                    @Html.DropDownListFor(model => model.CategoriaId, new SelectList(new List<SelectListItem>
                            {
                        new SelectListItem { Text = "Nomina", Value = "1" },
                        new SelectListItem { Text = "Comida", Value = "2" },
                        new SelectListItem { Text = "Alquiler", Value = "3" },
                        new SelectListItem { Text = "Ocio", Value = "4" },
                        new SelectListItem { Text = "Electrodomésticos", Value = "5" }
                    }, "Value", "Text"), "Seleccione Categoría", new { @class = "input shadow-lightgray" })
                </div>
                <div class='input-wrapper'>
                    @Html.TextBoxFor(model => model.Importe, new { @class = "input shadow-lightgray", placeholder = " " })
                    @Html.LabelFor(model => model.Importe, new { @class = "label label--text" })
                    @Html.ValidationMessageFor(model => model.Importe, "", new { @class = "text-danger" })
                </div>
                <div class='input-wrapper'>
                    @Html.TextBoxFor(model => model.Concepto, new { @class = "input shadow-lightgray", placeholder = " " })
                    @Html.LabelFor(model => model.Concepto, new { @class = "label label--text" })
                    @Html.ValidationMessageFor(model => model.Concepto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class='input-wrapper'>
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "input shadow-lightgray", placeholder = " ", rows = 8, cols = 50 })
                @Html.LabelFor(model => model.Descripcion, new { @class = "label label--text" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>

            <div class='input-wrapper input-wrapper--submit'>
                <button type='submit' id='enviar' name='enviar' class='btn btn--primary shadow-lightgray'>REGISTRAR MOVIMIENTO</button>
            </div>
        }
    </div>

    <section class="main__dates">
        <h2 class="dates__title">Tus últimos movimientos</h2>
        <!-- DAY -->
        <section class="dates__day">
            <h3 class="day__title">Lunes 1</h3>
            <!-- MOVEMENT -->
            <div class="day__day-movement">
                <div class="day-movement__title">Sueldo</div>
                <div class="day-movement__net"><span class="color-success">+1.267,23€</span></div>
                <div class="day-movement__desc">Pago por nómina</div>
                <div class="day-movement__category">Nómina</div>
            </div>
            <!-- MOVEMENT -->
            <div class="day__day-movement">
                <div class="day-movement__title">Compra en el súper</div>
                <div class="day-movement__net"><span class="color-error">-54,32€</span></div>
                <div class="day-movement__desc">Compra semanal de pan, carne, lácteos...</div>
                <div class="day-movement__category">Comida</div>
            </div>
            <!-- MOVEMENT -->
            <div class="day__day-movement">
                <div class="day-movement__title">Unas cañas</div>
                <div class="day-movement__net"><span class="color-error">-12,56€</span></div>
                <div class="day-movement__desc">Cañas con los colegas</div>
                <div class="day-movement__category">Ocio</div>
            </div>
        </section>
        <!-- DAY -->
        <section class="dates__day">
            <h3 class="day__title">Martes 2</h3>
            <!-- MOVEMENT -->
            <div class="day__day-movement">
                <div class="day-movement__title">Compra en amazon</div>
                <div class="day-movement__net"><span class="color-error">-25,12€</span></div>
                <div class="day-movement__desc">Cargador del móvil y cable</div>
                <div class="day-movement__category">Electrodomésticos</div>
            </div>
            <!-- MOVEMENT -->
            <div class="day__day-movement">
                <div class="day-movement__title">Uber Eats</div>
                <div class="day-movement__net"><span class="color-error">-5€</span></div>
                <div class="day-movement__desc">Delivery de Taco Bell</div>
                <div class="day-movement__category">Comida</div>
            </div>
            <!-- MOVEMENT -->
            <div class="day__day-movement">
                <div class="day-movement__title">Regalo amigo</div>
                <div class="day-movement__net"><span class="color-error">-56,32€</span></div>
                <div class="day-movement__desc">Un videojuego por el cumple</div>
                <div class="day-movement__category">Regalos</div>
            </div>
        </section>

    </section>
</div>
