@model EconoMeMVC.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SpecificStyles = "~/Content/Custom_CSS/css-login";
}

<div class="main__content limit-width">
    <div class="form-wrapper">
        <h1 class="title">Registro</h1>
        @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form" }))
        {
            <div class='input-wrapper'>
                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "input shadow-lightgray", placeholder = " " })
                @Html.LabelFor(m => m.NombreUsuario, new { @class = "label label--text" })
                @Html.ValidationMessageFor(m => m.NombreUsuario)
            </div>
            <div class='input-wrapper'>
                @Html.TextBoxFor(m => m.Email, new { @class = "input shadow-lightgray", placeholder = " " })
                @Html.LabelFor(m => m.Email, new { @class = "label label--text" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class='input-wrapper'>
                @Html.TextBoxFor(m => m.Nombres, new { @class = "input shadow-lightgray", placeholder = " " })
                @Html.LabelFor(m => m.Nombres, new { @class = "label label--text" })
                @Html.ValidationMessageFor(m => m.Nombres)
            </div>
            <div class='input-wrapper'>
                @Html.TextBoxFor(m => m.Apellidos, new { @class = "input shadow-lightgray", placeholder = " " })
                @Html.LabelFor(m => m.Apellidos, new { @class = "label label--text" })
                @Html.ValidationMessageFor(m => m.Apellidos)
            </div>
            <div class='input-wrapper'>
                @Html.PasswordFor(m => m.Clave, new { @class = "input shadow-lightgray", placeholder = " " })
                @Html.LabelFor(m => m.Clave, "Password", new { @class = "label label--text" })
                @Html.ValidationMessageFor(m => m.Clave)
            </div>
            <div class='input-wrapper'>
                @Html.PasswordFor(m => m.ConfirmarClave, new { @class = "input shadow-lightgray", placeholder = " " })
                @Html.LabelFor(m => m.ConfirmarClave, "Confirm Password", new { @class = "label label--text" })
                @Html.ValidationMessageFor(m => m.ConfirmarClave)
            </div>
            <div class='input-wrapper input-wrapper--submit'>
                <button type='submit' id='enviar' name='enviar' class='btn btn--primary shadow-lightgray'>REGÍSTRATE</button>
            </div>
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        <div class="extra-form-info">
            ¿Ya tienes cuenta? @Html.ActionLink("Login", "Login", "Auth", new { area = "" }, new { @class = "link-enphasis link-body" })
        </div>
    </div>
</div>